# ===============================
# 🔐 Clave secreta de Django
# ===============================
SECRET_KEY=

# ===============================
# 🐞 Modo debug (True en desarrollo, False en producción)
# ===============================
DEBUG=True

# ===============================
# 🌐 Hosts permitidos separados por coma
# Ej: 127.0.0.1,localhost,mi-dominio.com
# ===============================
ALLOWED_HOSTS=

# ===============================
# 📦 Configuración de la base de datos (solo para producción)
# ===============================
DB_ENGINE=django.db.backends.postgresql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# ===============================
# 📩 Configuración de email con Gmail (producción)
# ===============================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# ===============================
# 📩 Configuración de Mailgun (desarrollo)
# ===============================
EMAIL_BACKEND=anymail.backends.mailgun.EmailBackend
MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=
DEFAULT_FROM_EMAIL=

# ===============================
# 📫 Correo que recibirá los mensajes del formulario de contacto
# ===============================
CONTACT_EMAIL=
