{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/administracion.css' %}">
{% endblock %}

{% block content %}
<div class="messages">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
  {% endif %}
</div>

<div class="contact-form-wrapper">
    <div class="contact-form-container">
        <h2 class="form-title">Contáctanos</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/administracion.js' %}"></script>
{% endblock %}
